.card-container {
  p, h3, h4 {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
  }

  section:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  section {
    ul li {
      margin-bottom: 1rem;
    }

    address {
      font-style: normal;
      line-height: 1.5rem;
    }
  }
}
