### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
*.code-workspace

# System files
.DS_Store
Thumbs.db
