<mat-card *translateBlock="let t">
  <mat-card-header>
    <mat-card-title>{{ t('tree-page.node-delete-dialog.title') }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p
      class="instruction-text"
      [innerHTML]="
        'tree-page.node-delete-dialog.delete-confirmation'
          | pluralTranslate: { count: allNodesToDelete.length, nodeName: nodeToDelete.name }
      "
    ></p>

    @if (allNodesToDelete.length > 1) {
      <div class="tree-preview-container">
        <ul
          class="tree-preview-list"
          [attr.aria-label]="t('tree-page.node-delete-dialog.nodes-to-be-deleted-aria-label')"
        >
          @for (node of allNodesToDelete; track node.id) {
            <li
              class="tree-node"
              [style]="{ 'margin-left': `${(node.depth - nodeToDelete.depth) * 1.75}rem` }"
            >
              <div class="tree-node-label">
                <mat-icon class="tree-node-icon">
                  @if (node.children.length > 0) {
                    folder
                  } @else {
                    description
                  }
                </mat-icon>
                <span class="tree-node-name">{{ node.name }}</span>
              </div>
            </li>
          }
        </ul>
      </div>
    }
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button (click)="cancel()">
      {{ t('tree-page.node-delete-dialog.cancel-button-label') }}
    </button>
    <button mat-flat-button class="delete-button" (click)="confirm()">
      <mat-icon>delete</mat-icon>
      {{
        'tree-page.node-delete-dialog.delete-button-label'
          | pluralTranslate: { count: allNodesToDelete.length }
      }}
    </button>
  </mat-card-actions>
</mat-card>
