.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
HELP.md
!**/src/main/**/build/
!**/src/test/**/build/
*.env.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
!**/src/main/**/out/
!**/src/test/**/out/
