.dialog-header {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

:global(.MuiIconButton-root).close-button {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  color: var(--mui-palette-primary-contrastText);
}

:global(.MuiTypography-root).instruction-text {
  margin-bottom: 1rem;
}

.tree-preview-container {
  border: 0.0625rem solid var(--mui-palette-grey-500);
  border-radius: 0.5rem;
  background-color: var(--mui-palette-action-disabledBackground);
  color: var(--mui-palette-text-secondary);
  padding: 0.5rem;

  .tree-preview-list {
    max-height: 12.5rem;
    overflow: auto;
    padding: 0;

    .tree-node {
      display: inline-block;
      white-space: nowrap;
      padding: 0.25rem 0.75rem;
      cursor: default;
      width: auto;

      &:hover {
        background-color: var(--mui-palette-action-hover);
      }

      .tree-node-icon {
        vertical-align: center;
        color: var(--mui-palette-text-secondary);

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      .tree-node-name {
        vertical-align: center;
      }
    }
  }
}

.dialog-actions {
  gap: 0.5rem;
}
