@if (errorData()) {
  <mat-card>
    <mat-card-title>
      <mat-icon class="error-icon" aria-hidden="true">error_outline</mat-icon>
      <h4 class="error-title">
        {{ errorData()!.error }}
      </h4>
      <div class="flex-spacer"></div>
      <button
        mat-icon-button
        class="error-close-button"
        aria-label="Close"
        (click)="errorService.hide()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-title>

    <mat-card-content class="error-content">
      {{ errorData()!.message }}
    </mat-card-content>

    @if (errorData()!.traceId) {
      <mat-card-content class="details-content">
        <div class="trace-id-container">
          <span class="trace-id-label">Trace ID: </span>
          <code>{{ errorData()!.traceId }}</code>
        </div>
      </mat-card-content>
    }

    <mat-card-actions>
      <button mat-flat-button (click)="copyErrorData(errorData()!)" aria-label="Copy error data">
        <mat-icon class="copy-icon">content_copy</mat-icon>
        Copy
      </button>

      <button mat-flat-button (click)="errorService.hide()">
        Dismiss
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
}
