@use '@angular/material' as mat;

:host {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  display: block;

  @include mat.card-overrides(
    (
      elevated-container-color: var(--mat-sys-error-container),
    )
  );

  .mat-mdc-card {
    width: 24rem;
    min-height: 4rem;
    border-left: 0.25rem solid var(--mat-sys-on-error-container);
    color: var(--mat-sys-on-error-container);

    .mat-mdc-card-title {
      margin: 0.5rem 0.5rem 0 0.5rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      .error-icon {
        margin-top: 0.55rem;
        flex-shrink: 0;
      }

      .error-title {
        font-weight: 500;
        margin-top: 0.45rem;
        margin-bottom: 0.75rem;
      }

      .flex-spacer {
        flex: 1;
      }

      .error-close-button {
        margin-top: 0.15rem;
        flex-shrink: 0;
      }
    }

    .mat-mdc-card-content {
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;

      &.details-content {
        margin-top: 0.5rem;

        .trace-id-container {
          font-size: 0.75rem;
          overflow: hidden;
          text-overflow: ellipsis;

          .trace-id-label {
            font-weight: bold;
          }
        }
      }
    }

    .mat-mdc-card-actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0;
      margin: 0.25rem 0.5rem 0.25rem 0.5rem;

      button {
        background: var(--mat-sys-error);
        color: var(--mat-sys-on-error);
      }
    }
  }
}
