<button
  mat-icon-button
  [matMenuTriggerFor]="languageMenu"
  [attr.aria-label]="'app.language-toggle.language-button-aria-label' | translate"
>
  <mat-icon>language</mat-icon>
</button>

<mat-menu #languageMenu="matMenu">
  @for (lang of availableLanguages; track lang.code) {
    <button
      mat-menu-item
      (click)="switchLanguage(lang.code)"
      [attr.aria-selected]="currentLanguage() === lang.code"
      [attr.aria-label]="lang.name"
    >
      @if (currentLanguage() === lang.code) {
        <mat-icon class="check-icon">done</mat-icon>
      }

      <span>{{ lang.name }}</span>
    </button>
  }
</mat-menu>
