.title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errors-menu :global(.MuiPaper-root) {
  padding: 0.5rem;
  max-width: 25rem;

  .error-list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .empty-state {
    font-style: italic;
    text-align: center;
    width: 100%;
  }
}

.user-menu :global(.MuiPaper-root) {
  .username {
    font-style: italic;
    text-align: center;
    width: 100%;
  }
}
