header {
  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-toolbar.mat-toolbar {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    border: 1px solid var(--mat-sys-outline-variant);
    box-shadow: var(--mat-sys-level2);
  }

  .spacer {
    flex: 1 1 0%;
  }
}

::ng-deep .mat-mdc-menu-panel.error-menu {
  max-width: 25rem;
  padding: 0rem 1rem;

  .empty-state {
    text-align: center;
    color: var(--mat-sys-on-surface-variant);
    font-style: italic;
  }

  .error-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .error-list-item {
    margin: 0;
  }
}

::ng-deep .mat-mdc-menu-panel.user-menu {
  .username {
    padding: 1rem;
    text-align: center;
    color: var(--mat-sys-on-surface-variant);
    font-style: italic;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }
}
