<app-header />

<main class="mat-app-background">
  <div style="margin-left: auto; margin-right: auto; padding: 1rem">
    @if (remoteConfig.isLoading()) {
      <div class="loading-layout">
        <div class="loading-container">
          <mat-progress-spinner mode="indeterminate" />
          <span>Loading...</span>
        </div>
      </div>
    } @else {
      <router-outlet></router-outlet>
    }
  </div>

  @if (latestError()) {
    <app-error-card [error]="latestError()!" />
  }
</main>
