@use '@angular/material' as mat;

@include mat.system-classes();

.mat-tree-node {
  display: block;
  overflow-wrap: normal;
  white-space: nowrap;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;

  .node-label {
    margin-top: -0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--mat-sys-on-surface);

    &.not-found {
      @extend .mat-text-disabled;
    }
    &.selected {
      background-color: var(--mat-sys-primary-container);
    }
    &.selected:not(.not-found) {
      color: var(--mat-sys-on-primary-container);
    }
    &.dragging {
      background-color: var(--mat-sys-surface-container-high);
      color: var(--mat-sys-on-surface-variant);
    }
    &.dragged-over {
      background-color: var(--mat-sys-surface-container);
      color: var(--mat-sys-on-surface-variant);
    }
  }

  .found-icon {
    padding-left: 0.5rem;
  }
}
