<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- Leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [cdkTreeNodeTypeaheadLabel]="node.name"
  >
    @if (!hasChild(node)) {
      <!-- Use a disabled button to provide padding for tree leaf. -->
      <button matIconButton disabled>&nbsp;</button>
    } @else {
      <button matIconButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
    }

    <button
      matButton
      extended
      class="node-label"
      [class.not-found]="hasSearchResults() && !isFound(node.id)"
      [attr.aria-label]="node.name + (hasSearchResults() && isFound(node.id) ? ' matched' : '')"
      [class.selected]="isSelected(node.id)"
      [attr.aria-selected]="isSelected(node.id)"
      (click)="toggleSelect(node)"
      [draggable]="!isLoading()"
      [class.dragging]="isDragging(node.id)"
      [class.dragged-over]="isDraggedOver(node.id)"
      (dragstart)="startDragging($event, node.id)"
      (dragover)="startDragover($event, node.id)"
      (dragend)="stopDragging()"
      (drop)="stopDragover($event, node.id)"
    >
      <mat-icon>
        @if (node.children.length) {
          folder
        } @else {
          insert_drive_file
        }
      </mat-icon>

      <span class="node-name">{{ node.name }}</span>
    </button>

    @if (hasSearchResults() && isFound(node.id)) {
      <mat-icon class="found-icon">check</mat-icon>
    }
  </mat-tree-node>
</mat-tree>
