<mat-card appearance="outlined" *translateBlock="let t">
  @if (selectedNode() != null) {
    <mat-card-header>
      <mat-card-title>
        <h3>{{ selectedNode()!.name }}</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-divider />
  }

  <mat-card-content>
    @if (content.isLoading()) {
      <div class="loading">
        <mat-spinner diameter="32"></mat-spinner>
        <span>{{ t('tree-page.content-panel.loading-indicator') }}</span>
      </div>
    } @else if (selectedNode() === null || !content.hasValue()) {
      <p class="node-not-selected">{{ t('tree-page.content-panel.node-not-selected') }}</p>
    } @else {
      <pre class="content-data">{{ content.value().data }}</pre>
    }
  </mat-card-content>
</mat-card>
