.dialog-header {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
}

:global(.MuiIconButton-root).close-button {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  color: var(--mui-palette-primary-contrastText);
}

:global(.MuiTextField-root).text-field:not(:last-child) {
  margin-bottom: 1rem;
}

.dialog-actions {
  gap: 0.5rem;
}
