:host {
  width: 100%;

  .toolbar-container {
    display: flex;
    flex-direction: column;

    .toolbar-search-row {
      display: flex;
      flex-direction: column;

      .clear-search-button {
        margin-right: 0.5rem;
      }
    }

    .toolbar-button-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;
    }
  }
}
