<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- @formatter:off -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36} - %msg%n</pattern>
			<!-- @formatter:on -->
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console"/>
	</root>
</configuration>
