<app-header />

<main class="mat-app-background" *translateBlock="let t">
  <div class="router-container">
    @if (remoteConfig.isLoading()) {
      <div class="loading-layout">
        <div class="loading-container">
          <mat-progress-spinner mode="indeterminate" />
          <span>{{ t('app.loading-indicator') }}</span>
        </div>
      </div>
    } @else {
      <router-outlet></router-outlet>
    }
  </div>

  @if (latestError()) {
    <div role="alert">
      <app-error-card [error]="latestError()!" />
    </div>
  }
</main>
